@font-face {
  font-family: 'GameFont';
  src: url('./PressStart2P-Regular.ttf') format('truetype');
}

body {
  font-family: GameFont, serif;
  background: white;
  color: black;
  margin: 0;
  padding: 0;
  max-height: 100vh;
  max-width: 100vw;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: space-around;
  list-style: none;
}

nav ul li {
  margin: 1em;
}

button,
kbd {
  font-family: GameFont, serif;
}

#messages {
  display: flex;
  flex-direction: column;
  place-content: center;
  opacity: 1;
  transition: opacity 0.3s;
}

#messages[x-cloak] {
  opacity: 0;
}

#messages.form {
  min-height: 95vh;
}

#messages.ready {
  min-height: auto;
}

#form {
  max-width: 32em;
  margin: auto;
  outline: 2px dashed currentColor;
  outline-offset: 1em;
  transition: all 1s ease-in-out;
}

.ready #form {
  max-width: initial;
  outline: none;
}

#form div {
  margin-block-end: 1em;
}

#game {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  place-items: center;
  overflow: hidden;
}

#content {
  display: block;
  margin: 0 auto;
  width: 706px;
  height: 572px;
}

#about,
#rules,
#credits {
  margin: 0 1em;
}

/* Kudos https://tympanus.net/Tutorials/NaturalLanguageForm/ */
input {
  padding: 0;
  border: 0;
  border-bottom: 1px solid currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 1em auto;
}

/*
https://fonts.google.com/specimen/Quantico
https://fonts.google.com/specimen/Rubik+Mono+One
https://fonts.google.com/specimen/VT323
https://fonts.google.com/specimen/Geo
https://fonts.google.com/specimen/Press+Start+2P
*/

#user-interactions {
  display: absolute;
  left: -10000;
  height: 1px;
  width: 1px;
}
